---
---

<div class="-z-50">
  <svg class="scaling-svg" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M205 1000V-11"
      stroke="#A2A2A2"
      stroke-width="5"
      transform="translate(0, -700)"
      class="-z-50"></path>
  </svg>
</div>
