---
---

<div class="absolute z-40">
  <svg class="scaling-svg" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <circle
        cx="204.5"
        cy="330.5"
        r="204.5"
        fill="url(#paint0_radial_621_1578)"></circle>
      <g class="hidden">
        <g class="hover:cursor-pointer" onclick="">
          <circle cx="205" cy="331" r="26" fill="#FFDA16"></circle>
          <path
            d="M205.5 312L217.967 318.713C218.137 318.804 218.092 319.059 217.901 319.087L191.883 322.872C191.672 322.902 191.649 323.198 191.853 323.261L208.504 328.349C208.679 328.402 208.696 328.643 208.531 328.721L200.873 332.324C200.722 332.396 200.719 332.61 200.869 332.684L207.5 336"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"></path>
        </g>
        <defs class="hidden">
          <radialGradient
            id="paint0_radial_621_1578"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(204.5 330.5) rotate(90) scale(204.5)"
          >
            <stop stop-color="#FFDC81"></stop>
            <stop offset="1" stop-color="#C4C4C4" stop-opacity="0"></stop>
          </radialGradient>
        </defs>
      </g>
      <g id="bulb-light" class="hover:cursor-pointer">
        <circle cx="205" cy="331" r="26" fill="#DBDBDA" fill-opacity="0.7"
        ></circle>
        <path
          d="M205.5 312L217.967 318.713C218.137 318.804 218.092 319.059 217.901 319.087L191.883 322.872C191.672 322.902 191.649 323.198 191.853 323.261L208.504 328.349C208.679 328.402 208.696 328.643 208.531 328.721L200.873 332.324C200.722 332.396 200.719 332.61 200.869 332.684L207.5 336"
          stroke="white"
          stroke-width="3"
          stroke-linecap="round"></path>
      </g>
      <rect x="189" y="301" width="32" height="13" rx="6.5" fill="#B9B7B7"
      ></rect>
      <rect x="196" y="296" width="18" height="6" rx="3" fill="#717171"></rect>
    </g>
  </svg>
</div>
