---
---

<div
  class="cursor-pointer w-1/4 ml-5 min-w-[20px] sm:max-w-[50px] md:max-w-[50px]"
  data-tooltip="⚡ Powered by lactose-free beverages"
>
  <svg
    class="scaling-svg"
    viewBox="0 0 62 56"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M48.2398 10H43C41.067 10 39.5 11.567 39.5 13.5C39.5 15.433 41.067 17 43 17H45.3151C46.7236 17 48.0843 17.5113 49.1443 18.4388L49.3119 18.5854C50.7024 19.8021 51.5 21.5598 51.5 23.4075V33.0925C51.5 34.9402 50.7024 36.6979 49.3119 37.9146L48.9388 38.2411C48.0113 39.0527 46.8207 39.5 45.5882 39.5H43.75C41.9551 39.5 40.5 40.9551 40.5 42.75C40.5 44.5449 41.9551 46 43.75 46H48.6434C50.4926 46 52.2867 45.3707 53.7306 44.2155L54.6643 43.4685C57.4047 41.2762 59 37.9571 59 34.4477V21.9624C59 18.4931 57.4939 15.1947 54.8722 12.9225L53.9637 12.1352C52.3747 10.7581 50.3425 10 48.2398 10Z"
      fill="#B83C1B"
      stroke="#6D2310"
      stroke-width="5"></path>
    <mask id="path-2-inside-1_621_1429" fill="white">
      <rect width="45" height="56" rx="4"></rect>
    </mask>
    <rect
      width="45"
      height="56"
      rx="4"
      fill="#E34E26"
      stroke="#6D2310"
      stroke-width="10"
      mask="url(#path-2-inside-1_621_1429)"></rect>
    <rect x="5" y="5" width="12" height="46" fill="#B83C1B"></rect>
  </svg>
</div>
