---
---

<div>
  <svg
    class="scaling-svg"
    viewBox="0 0 626 26"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3 8C3 5.23858 5.23858 3 8 3H618C620.761 3 623 5.23858 623 8V18C623 20.7614 620.761 23 618 23H8C5.23857 23 3 20.7614 3 18V8Z"
      fill="#63411D"
      stroke="#63411D"
      stroke-width="5"></path>
    <path
      d="M4 9C4 6.23858 6.23858 4 9 4H617C619.761 4 622 6.23858 622 9V17C622 19.7614 619.761 22 617 22H9C6.23858 22 4 19.7614 4 17V9Z"
      fill="#B88856"></path>
    <path
      d="M4 18.5C4 16.567 5.567 15 7.5 15H618.5C620.433 15 622 16.567 622 18.5C622 20.433 620.433 22 618.5 22H7.50002C5.56702 22 4 20.433 4 18.5Z"
      fill="#A47B50"></path>
  </svg>
</div>
