---
---

<div
  class="cursor-pointer w-1/2 m-0 mr-5 min-w-[50px] sm:max-w-[100px] md:max-w-[100px] z-40"
  data-tooltip="🎶🎵"
>
  <svg
    class="scaling-svg mb-10"
    viewBox="0 0 103 253"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="path-1-outside-1_621_1587"
      maskUnits="userSpaceOnUse"
      x="0"
      y="122.72"
      width="103"
      height="131"
      fill="black"
    >
      <rect fill="white" y="122.72" width="103" height="131"></rect>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M39.1 127.72C25.0609 127.72 13.68 139.101 13.68 153.14C13.68 160.004 16.4003 166.232 20.8216 170.806C21.3249 172.835 21.74 175.211 21.74 177.32C21.74 179.526 20.0738 182.935 18.3136 185.942C10.208 192.298 5 202.181 5 213.28C5 232.455 20.5447 248 39.72 248H63.28C82.4553 248 98 232.455 98 213.28C98 201.774 92.4034 191.576 83.7839 185.258C82.102 182.366 80.64 179.299 80.64 177.32C80.64 175.981 81.1422 173.697 81.862 171.127C86.4696 166.526 89.32 160.166 89.32 153.14C89.32 139.101 77.9391 127.72 63.9 127.72H39.1Z"
      ></path>
    </mask>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39.1 127.72C25.0609 127.72 13.68 139.101 13.68 153.14C13.68 160.004 16.4003 166.232 20.8216 170.806C21.3249 172.835 21.74 175.211 21.74 177.32C21.74 179.526 20.0738 182.935 18.3136 185.942C10.208 192.298 5 202.181 5 213.28C5 232.455 20.5447 248 39.72 248H63.28C82.4553 248 98 232.455 98 213.28C98 201.774 92.4034 191.576 83.7839 185.258C82.102 182.366 80.64 179.299 80.64 177.32C80.64 175.981 81.1422 173.697 81.862 171.127C86.4696 166.526 89.32 160.166 89.32 153.14C89.32 139.101 77.9391 127.72 63.9 127.72H39.1Z"
      fill="#CB8348"></path>
    <path
      d="M20.8216 170.806L25.6746 169.602L25.3509 168.297L24.4165 167.331L20.8216 170.806ZM18.3136 185.942L21.3989 189.877L22.1481 189.289L22.6289 188.468L18.3136 185.942ZM83.7839 185.258L79.4617 187.772L79.9864 188.674L80.8281 189.291L83.7839 185.258ZM81.862 171.127L78.329 167.589L77.4011 168.516L77.0474 169.778L81.862 171.127ZM18.68 153.14C18.68 141.862 27.8223 132.72 39.1 132.72V122.72C22.2995 122.72 8.68 136.339 8.68 153.14H18.68ZM24.4165 167.331C20.8602 163.652 18.68 158.656 18.68 153.14H8.68C8.68 161.352 11.9405 168.812 17.2267 174.281L24.4165 167.331ZM26.74 177.32C26.74 174.643 26.2265 171.827 25.6746 169.602L15.9687 172.009C16.4234 173.843 16.74 175.78 16.74 177.32H26.74ZM22.6289 188.468C23.5642 186.87 24.5378 185.06 25.2913 183.28C25.9897 181.63 26.74 179.463 26.74 177.32H16.74C16.74 177.282 16.7409 177.445 16.6268 177.865C16.5184 178.264 16.3407 178.771 16.0824 179.382C15.5628 180.609 14.8232 182.007 13.9983 183.417L22.6289 188.468ZM10 213.28C10 203.782 14.45 195.326 21.3989 189.877L15.2283 182.008C5.96607 189.271 0 200.58 0 213.28H10ZM39.72 243C23.3061 243 10 229.694 10 213.28H0C0 235.217 17.7832 253 39.72 253V243ZM63.28 243H39.72V253H63.28V243ZM93 213.28C93 229.694 79.6939 243 63.28 243V253C85.2168 253 103 235.217 103 213.28H93ZM80.8281 189.291C88.2179 194.707 93 203.435 93 213.28H103C103 200.114 96.5888 188.444 86.7397 181.225L80.8281 189.291ZM75.64 177.32C75.64 179.333 76.3286 181.347 76.9689 182.877C77.6611 184.531 78.5641 186.228 79.4617 187.772L88.1061 182.744C87.3218 181.396 86.6529 180.114 86.1936 179.016C85.6824 177.795 85.64 177.286 85.64 177.32H75.64ZM77.0474 169.778C76.348 172.275 75.64 175.194 75.64 177.32H85.64C85.64 176.767 85.9364 175.118 86.6767 172.476L77.0474 169.778ZM84.32 153.14C84.32 158.785 82.0357 163.888 78.329 167.589L85.3951 174.665C90.9034 169.165 94.32 161.547 94.32 153.14H84.32ZM63.9 132.72C75.1776 132.72 84.32 141.862 84.32 153.14H94.32C94.32 136.339 80.7005 122.72 63.9 122.72V132.72ZM39.1 132.72H63.9V122.72H39.1V132.72Z"
      fill="#955119"
      mask="url(#path-1-outside-1_621_1587)"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39.1 127.72C25.0609 127.72 13.68 139.101 13.68 153.14C13.68 160.004 16.4003 166.232 20.8216 170.806C21.3249 172.835 21.74 175.211 21.74 177.32C21.74 179.526 20.0738 182.935 18.3136 185.942C10.208 192.298 5 202.181 5 213.28C5 232.455 20.5447 248 39.72 248H63.28C82.4553 248 98 232.455 98 213.28C98 201.774 92.4034 191.576 83.7839 185.258C82.102 182.366 80.64 179.299 80.64 177.32C80.64 175.981 81.1422 173.697 81.862 171.127C86.4696 166.526 89.32 160.166 89.32 153.14C89.32 139.101 77.9391 127.72 63.9 127.72H39.1Z"
      fill="#CB8348"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M68.2842 128.439C70.2842 146.106 71.6842 184.739 61.2842 197.939C53.6337 207.65 31.8056 223.908 14.0312 236.204C14.0208 236.211 14.0104 236.219 14 236.226C20.361 243.41 29.6537 247.939 40.0042 247.939H63.5642C82.7395 247.939 98.2842 232.395 98.2842 213.219C98.2842 201.714 92.6875 191.515 84.0681 185.197C82.3862 182.306 80.9242 179.238 80.9242 177.259C80.9242 175.92 81.4264 173.636 82.1462 171.067C86.7537 166.466 89.6042 160.105 89.6042 153.079C89.6042 140.461 80.4099 129.99 68.3551 128L68.2842 128.439Z"
      fill="#C57738"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M68.2842 128.439C70.2842 146.106 71.6842 184.739 61.2842 197.939C53.6337 207.65 31.8056 223.908 14.0312 236.204C14.0208 236.211 14.0104 236.219 14 236.226C20.361 243.41 29.6537 247.939 40.0042 247.939H63.5642C82.7395 247.939 98.2842 232.395 98.2842 213.219C98.2842 201.714 92.6875 191.515 84.0681 185.197C82.3862 182.306 80.9242 179.238 80.9242 177.259C80.9242 175.92 81.4264 173.636 82.1462 171.067C86.7537 166.466 89.6042 160.105 89.6042 153.079C89.6042 140.461 80.4099 129.99 68.3551 128L68.2842 128.439Z"
      fill="#C57738"></path>
    <rect x="31" y="210" width="42" height="7" fill="#955119"></rect>
    <circle cx="51.5" cy="163.5" r="15.5" fill="#955119"></circle>
    <path
      d="M40.59 138.5L44.2702 34.5H58.7298L62.41 138.5H40.59Z"
      fill="#696866"
      stroke="#484848"
      stroke-width="5"></path>
    <path d="M56.5 37H53L55 136H60L56.5 37Z" fill="#575454"></path>
    <path
      d="M64 11L70 11"
      stroke="#525252"
      stroke-width="3"
      stroke-linecap="round"></path>
    <path
      d="M61 23L67 23"
      stroke="#525252"
      stroke-width="3"
      stroke-linecap="round"></path>
    <path
      d="M41 11L35 11"
      stroke="#525252"
      stroke-width="3"
      stroke-linecap="round"></path>
    <path
      d="M44 23L38 23"
      stroke="#525252"
      stroke-width="3"
      stroke-linecap="round"></path>
    <path
      d="M44.3545 31.5L40.2006 6.53424L51.5648 2.63131L64.1772 6.59118L60.0328 31.5H44.3545Z"
      fill="#CB8348"
      stroke="#955119"
      stroke-width="5"></path>
    <path d="M58 29H54.5L59 7.5L61.5 8.5L58 29Z" fill="#9A6539"></path>
    <ellipse cx="42" cy="34.5" rx="4" ry="3.5" fill="#323232"></ellipse>
    <ellipse cx="61" cy="34.5" rx="4" ry="3.5" fill="#323232"></ellipse>
  </svg>
</div>
